<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go-Chat</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
      }
      #container {
        max-width: 400px;
        margin: auto;
      }
      input,
      button {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        box-sizing: border-box;
      }
      input {
        display: block;
      }
      button {
        display: block;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h2>Welcome to Go-Chat</h2>
      <input
        type="text"
        id="username"
        placeholder="Enter username to chat with"
      />
      <button id="startChat">Start Chat</button>
    </div>

    <script>
      function generateRoomId(username0, username1) {
        if (username0.length > 0 && username1.length > 0) {
          return username0 <= username1
            ? `${username0}+${username1}`
            : `${username1}+${username0}`;
        }
        throw new Error("invalid username");
      }
      document
        .getElementById("startChat")
        .addEventListener("click", async () => {
          const username = document.getElementById("username").value.trim();
          var chatId = "";
          if (username) {
            await fetch(`http://{{ .Host }}/user/${username}`)
              .then((response) => {
                if (!response.ok) {
                  throw new Error("failed to get user");
                }
                return response.json();
              })
              .then((data) => {});

            await fetch(
              `http://{{ .Host }}/chat/chatReference?user={{ .Me }}&other=${username}`
            )
              .then((response) => {
                if (response.status == "404") {
                  chatId = "";
                }
                return response.json();
              })
              .then((data) => {
                const chatUrl = `http://{{ .Host }}/chat/${chatId}?me={{ .Me }}&other=${username}`;
                window.location.href = chatUrl;
                console.log("data: ", data);
              })
              .catch((error) => {
                console.error(
                  "There was a problem with the fetch operation:",
                  error
                );
              });
          }
        });
    </script>
  </body>
</html>
