<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go-Chat</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
      }
      #container {
        max-width: 400px;
        margin: auto;
      }
      input,
      button {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        box-sizing: border-box;
      }
      input {
        display: block;
      }
      button {
        display: block;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h2>Welcome to Go-Chat</h2>
      <input
        type="text"
        id="username"
        placeholder="Enter username to chat with"
      />
      <button id="startChat">Start Chat</button>
    </div>

    <script>
      document
        .getElementById("startChat")
        .addEventListener("click", async () => {
          const username = document.getElementById("username").value.trim();
          let chatId = null;

          if (username) {
            try {
              const userResponse = await fetch(
                `http://{{ .Host }}/user/${username}`,
                {
                  method: "GET",
                  headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${localStorage.getItem(
                      "accessToken"
                    )}`,
                  },
                }
              );

              if (!userResponse.ok) {
                throw new Error("User does not exist");
              }
              const chatResponse = await fetch(
                `http://{{ .Host }}/chatReference?user={{ .Me }}&other=${username}`,
                {
                  method: "GET",
                  headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${localStorage.getItem(
                      "accessToken"
                    )}`,
                  },
                }
              );

              if (chatResponse.ok) {
                const chatData = await chatResponse.json();
                chatId = chatData.chatReference;
              } else {
                console.log(chatResponse.status)
                if (chatResponse.status == "404") {
                  const addChatRes = await fetch(
                    `http://{{ .Host }}/chatReference`,
                    {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                        Authorization: `Bearer ${localStorage.getItem(
                          "accessToken"
                        )}`,
                      },
                      body: JSON.stringify({
                        user: `{{ .Me }}`,
                        other: username,
                      }),
                    }
                  );

                  if (!addChatRes.ok) {
                    throw new Error("User does not exist");
                  }
                } else {
                  // handle case of network error or somerthing
                }
              }
              window.location.href = `http://{{ .Host }}/chat/{{ .Me }}/${chatId}`;
            } catch (error) {
              console.error("Error during fetch operations:", error);
            }
          }
        });
    </script>
  </body>
</html>
